#center {
    width: 300px;
    margin: 30px auto;
    text-align: center;
}

#kerek {
    width: 280px;
    height: 280px;
    margin: 0 auto 15px auto;
    background-image: url("Képek/rulett.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid #333;
    transition: transform 4s cubic-bezier(.1,.6,.3,1); /* lassuló mozgás */
}

#spinBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: #df1717;
    color: white;
}

#spinBtn:hover {
    background: #aa1010;
}